@font-face {
  font-family: "iconfont"; /* Project id 3884346 */
  src: url('//at.alicdn.com/t/c/font_3884346_hodwud1gwlg.woff2?t=1677377553066') format('woff2'),
       url('//at.alicdn.com/t/c/font_3884346_hodwud1gwlg.woff?t=1677377553066') format('woff'),
       url('//at.alicdn.com/t/c/font_3884346_hodwud1gwlg.ttf?t=1677377553066') format('truetype'),
       url('//at.alicdn.com/t/c/font_3884346_hodwud1gwlg.svg?t=1677377553066#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixuanzhongyuanquan:before {
  content: "\e601";
}

.icon-quanxuan:before {
  content: "\e67f";
}

.icon-fanhui:before {
  content: "\e600";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-jianhao:before {
  content: "\eaf5";
}

.icon-sousuo:before {
  content: "\e86e";
}

.icon-wxbdingwei:before {
  content: "\e624";
}

.icon-xiaoxi:before {
  content: "\e62c";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-faxian:before {
  content: "\e746";
}

.icon-dingdan:before {
  content: "\e897";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-gouwuche:before {
  content: "\e603";
}
